
.grid {
	display: grid;
	width: 100%;
	height: 1000px;
	grid-template: 80px 15fr / 5fr 190px 150px 130px 140px 2fr;
	grid-column-gap: 50px;
}
.header {
	display: grid;
	width: 100%;
	height: 80px;
	grid-template: 80px / 5fr 190px 150px 130px 140px 2fr;
	grid-column-gap: 50px;
}
.box{
	background-color: white;
	border: 2px white solid;
}
.c{
	grid-column: 1 / span 6;
	background-image: url("rawImage.jpg");
	font-family: Candara;
	color: white;
	font-size: 60px;
	padding-top: 200px;
	padding-left: 100px;
}
.lg {
	width: 70px;
	height: 70px;
	padding: 5px;
}
.b {
	text-align: center;
	padding-top: 20px;
	font-family: Candara;
	font-weight: bold;
	font-size: 20px;
}
.d, .e, .f, .g{
	text-align: center;
	padding-top: 20px;
	font-family: Candara;
	font-weight: bold;
	font-size: 20px;
}
a:visited {
	color: black;
}
a:link {
	color: black;
}
.history {
	display:grid;
	width: 100%;
	height: 1550px;
	grid-template-rows: 5fr 5fr 1fr;
	background-color: #ABD8AC ;
	grid-gap: 50px;
}
.des {
	text-align: center;
	font-family: Candara;
	font-weight: bold;
	font-size: 25px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: white;
}
.ht {
	width: 1300px;
	height: 600px;
	position: center;
	margin-bottom: 50px;
}
.timeline {
	margin-top: 50px;
}
.gridscience {
	display:grid;
	width: 100%;
	height: 650px;
	grid-template-rows: 650px;
	border: 2px white solid;
	opacity: .8;
}

.bottle{
	font-family: Candara;
	color: black;
	font-size: 50px;
	text-align: center;
	padding-left: 500px;
	padding-right: 500px;
	padding-top: 160px;
	grid-area: 1 / span 2;
	background-image: url("bottle.jpg");
}
.thefacts {
	display: grid;
	width:100%;
	height: 1000px;
	grid-template: 1fr 1fr 1fr / 1fr 1fr;
}
.item {
	border: 2px black solid;
}
.s {
	font-family: Candara;
	color: black;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
}
.bull {
	width: 500px;
	height: 300px;
	padding-left: 200px;
	padding-top: 10px;
}
.u {
	grid-column: 1 / 3;
	font-family: Candara;
	color: black;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	padding: 20px;
	padding-top: 50px;
	background-image: url("digging.jpg");
}
.v {
	font-family: Candara;
	color: black;
	font-size: 20px;
	text-align: center;
	padding: 20px;
	padding-top: 80px;
}
p {
	background-color: white;
}
.tree {
	height: 300px;
	width: 550px;
	padding: 10px;
}
.detrimental {
	display:grid;
	width: 100%;
	height: 650px;
	grid-template-rows: 650px;
	border: 2px black solid;
	background-image: url("tree.jpg");
}	
.effects {
	font-family: Candara;
	color: black;
	font-size: 50px;
	text-align: center;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 160px;
}
.get {
	display: grid;
	height: 800px;
	grid-template-rows: 1fr 2fr 3fr 1fr;
	background-color: #006C0D;
}
.can {
	font-family: Candara;
	color: white;
	font-size: 80px;
	text-align: center;
}

.waste {
	font-family: Candara;
	color: white;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	padding: 50px;
}
.how {
	font-family: Candara;
	color: white;
	font-size: 65px;
	text-align: center;
}
.howto {
	display: grid;
	grid-template: 100px 400px / 800px 800px; 
	border: black;
	height: 575px;
	width: 100%;
	background-color: #006C0D;
	border: 2px white solid;
	justify-content: center;
	align-content: center;
}
.recycle {
	font-family: Candara;
	color: white;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	padding: 25px;
	border: 2px white solid;
}
.dont {
	font-family: Candara;
	color: white;
	font-size: 25px;
	text-align:center;
	border: 2px white solid;
	padding-top: 50px;
}
.justice {
	display: grid;
	width: 100%;
	height: 875px; 
	grid-template-columns: 1fr 1fr;
}
.part {
	border: 2px black solid; 
}
.piechart {
	width:700px;
	height:500px;
}
.q, .m, .p {
	text-align: center;
}

.n, .o, .r, .q{
	font-family: Candara;
	color: black;
	font-size: 25px;
	text-align:center;
	border: 2px white solid;
	padding: 50px;
}
.n {
	padding-top:150px;
}
.o{
	padding-top:100px;
}
.m, .p {
	border: 2px white solid;
}

.r {
	padding-top: 300px;
	padding-left: 150px;
	padding-right: 150px;
}
.j {
	text-align: center;
	font-family: Candara;
	color: white;
	font-size: 25px;
	font-weight: bold;
	background-color: black;
	padding: 50px;
	padding-top: 75px;
}
.bauxite {
	background-image: url("kid.jpg");
	background-size: 100% 100%;
}
.opt {
	display: grid;
	grid-template-rows: 1fr;
	background-color: #006C0D;
	border: 2px white solid;

}
.opt1 {
	text-align: center;
	font-family: Candara;
	color: white;
	font-size: 25px;
	padding: 100px;
}
.other {
	text-align: center;
	font-family: Candara;
	color: white;
	font-size: 50px;
}